openapi: 3.0.3
info:
  title: Backlog Cloud API
  description: |
    Public REST API for [Backlog Cloud](https://backlog.so). Used by the
    [`backlog`](https://www.npmjs.com/package/backlog) CLI and any
    integration that wants to drive backlog programmatically.

    All endpoints (except `/health`, `/auth/signup`, `/auth/login`,
    and webhook receivers) require a Bearer token in the `Authorization`
    header. Tokens are issued by `/auth/signup` and `/auth/login`,
    expire after 30 days, and use HS256 JWT.
  version: 1.0.0
  license:
    name: Proprietary
    url: https://backlog.so/legal/terms
  contact:
    name: Osmove
    url: https://backlog.so

servers:
  - url: https://backlog.so/api/v1
    description: Production
  - url: http://localhost:3000/api/v1
    description: Local development

security:
  - bearer: []

components:
  securitySchemes:
    bearer:
      type: http
      scheme: bearer
      bearerFormat: JWT
    queryToken:
      type: apiKey
      in: query
      name: user_token

  schemas:
    Error:
      type: object
      properties:
        error: { type: string }
        details: { type: object }
      required: [error]

    User:
      type: object
      properties:
        id: { type: integer, format: int64 }
        email: { type: string, format: email }
      required: [id, email]

    AuthResponse:
      type: object
      properties:
        user: { $ref: '#/components/schemas/User' }
        token: { type: string }
        expires_at: { type: string, format: date-time }
      required: [user, token, expires_at]

    Workspace:
      type: object
      properties:
        id: { type: integer, format: int64 }
        name: { type: string }
        slug: { type: string }
        owner_id: { type: integer, format: int64 }
        created_at: { type: string, format: date-time }
      required: [id, name, slug, owner_id, created_at]

    WorkItem:
      type: object
      properties:
        id: { type: integer, format: int64 }
        workspace_id: { type: integer, format: int64 }
        external_id: { type: string }
        title: { type: string }
        status: { type: string, enum: [ready, in_progress, review, done, blocked, archived] }
        priority: { type: string, enum: [P0, P1, P2, P3, P4] }
        payload: { type: object, nullable: true }
        created_at: { type: string, format: date-time }
        updated_at: { type: string, format: date-time }
      required: [id, workspace_id, external_id, title, status, priority]

    Task:
      type: object
      properties:
        id: { type: integer, format: int64 }
        work_item_id: { type: integer, format: int64 }
        repo: { type: string, nullable: true }
        scope: { type: string, nullable: true }
        status: { type: string, enum: [planned, ready, in_progress, awaiting_review, done, failed, blocked] }
        assigned_agent: { type: string, nullable: true }
        created_at: { type: string, format: date-time }
        updated_at: { type: string, format: date-time }
      required: [id, work_item_id, status]

    Run:
      type: object
      properties:
        id: { type: integer, format: int64 }
        task_id: { type: integer, format: int64 }
        status: { type: string, enum: [queued, running, awaiting_review, approved, completed, failed, cancelled] }
        started_at: { type: string, format: date-time, nullable: true }
        finished_at: { type: string, format: date-time, nullable: true }
        summary: { type: string, nullable: true }
        artifacts: { type: object, nullable: true }
        created_at: { type: string, format: date-time }
        updated_at: { type: string, format: date-time }
      required: [id, task_id, status]

    Health:
      type: object
      properties:
        status: { type: string, example: ok }
        version: { type: string, example: "0.1.0" }

    Subscription:
      type: object
      properties:
        plan: { type: string, enum: [free, pro, enterprise] }
        status: { type: string, enum: [active, trialing, past_due, canceled, incomplete, incomplete_expired, unpaid, paused] }
        current_period_end: { type: string, format: date-time, nullable: true }
        cancel_at_period_end: { type: boolean }
        limits:
          type: object
          properties:
            work_items: { type: integer, nullable: true }
            tasks_per_month: { type: integer, nullable: true }
            members: { type: integer, nullable: true }
            ai_tokens_per_month: { type: integer, nullable: true }
        stripe_customer_id: { type: string, nullable: true }
      required: [plan, status, limits]

    BillingConfig:
      type: object
      properties:
        publishable_key: { type: string, nullable: true }
        prices:
          type: object
          properties:
            pro_monthly: { type: string, nullable: true }
            pro_yearly:  { type: string, nullable: true }

    CheckoutSession:
      type: object
      properties:
        url: { type: string, format: uri }
        session_id: { type: string }
      required: [url, session_id]

    PortalSession:
      type: object
      properties:
        url: { type: string, format: uri }
      required: [url]

    AiMessage:
      type: object
      properties:
        role: { type: string, enum: [user, assistant] }
        content:
          oneOf:
            - { type: string }
            - { type: array, items: { type: object } }
      required: [role, content]

    AiMessageRequest:
      type: object
      properties:
        model: { type: string, example: claude-haiku-4-5-20251001 }
        max_tokens: { type: integer, default: 1024 }
        system: { type: string }
        temperature: { type: number, format: float }
        messages:
          type: array
          items: { $ref: '#/components/schemas/AiMessage' }
      required: [messages]

    AiMessageResponse:
      type: object
      description: |
        Pass-through of the Anthropic Messages API response. Token usage
        is also recorded server-side and counted against the workspace
        quota; consumers should rely on `/usage` for billing.
      additionalProperties: true

    UsageReport:
      type: object
      properties:
        period:
          type: object
          properties:
            start: { type: string, format: date-time }
            end:   { type: string, format: date-time }
        plan: { type: string, enum: [free, pro, enterprise] }
        usage:
          type: object
          properties:
            ai_tokens:        { type: integer }
            ai_input_tokens:  { type: integer }
            ai_output_tokens: { type: integer }
            ai_calls:         { type: integer }
        limits:
          type: object
          properties:
            ai_tokens_per_month: { type: integer, nullable: true }
        remaining:
          type: object
          properties:
            ai_tokens: { type: integer, nullable: true }

paths:
  /health:
    get:
      summary: Server health and version
      security: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Health' }

  /auth/signup:
    post:
      summary: Create a new account
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [email, password]
              properties:
                email: { type: string, format: email }
                password: { type: string, minLength: 8 }
      responses:
        '200':
          description: Account created
          content:
            application/json:
              schema: { $ref: '#/components/schemas/AuthResponse' }
        '422':
          description: Validation error
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }

  /auth/login:
    post:
      summary: Sign in with email + password
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [email, password]
              properties:
                email: { type: string, format: email }
                password: { type: string }
      responses:
        '200':
          description: Logged in
          content:
            application/json:
              schema: { $ref: '#/components/schemas/AuthResponse' }
        '401':
          description: Invalid credentials
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }

  /auth/logout:
    post:
      summary: Sign out (client-side token discard)
      responses:
        '204':
          description: Logged out

  /auth/me:
    get:
      summary: Current authenticated user
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  user: { $ref: '#/components/schemas/User' }
        '401':
          description: Unauthorized
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }

  /workspaces:
    get:
      summary: List accessible workspaces
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  workspaces:
                    type: array
                    items: { $ref: '#/components/schemas/Workspace' }
    post:
      summary: Create a workspace
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [name]
              properties:
                name: { type: string }
      responses:
        '200':
          description: Created
          content:
            application/json:
              schema:
                type: object
                properties:
                  workspace: { $ref: '#/components/schemas/Workspace' }

  /workspaces/{id}:
    get:
      summary: Show one workspace
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: integer }
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  workspace: { $ref: '#/components/schemas/Workspace' }
        '404':
          description: Not found

  /workspaces/{id}/work-items:
    get:
      summary: List work items in a workspace
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: integer }
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  work_items:
                    type: array
                    items: { $ref: '#/components/schemas/WorkItem' }
    post:
      summary: Create a work item
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: integer }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [external_id, title]
              properties:
                external_id: { type: string }
                title: { type: string }
                status: { type: string }
                priority: { type: string }
                payload: { type: object, additionalProperties: true }
      responses:
        '200':
          description: Created
          content:
            application/json:
              schema:
                type: object
                properties:
                  work_item: { $ref: '#/components/schemas/WorkItem' }

  /workspaces/{workspace_id}/tasks:
    get:
      summary: List tasks in a workspace
      parameters:
        - name: workspace_id
          in: path
          required: true
          schema: { type: integer }
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  tasks:
                    type: array
                    items: { $ref: '#/components/schemas/Task' }
    post:
      summary: Create a task
      parameters:
        - name: workspace_id
          in: path
          required: true
          schema: { type: integer }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [work_item_id]
              properties:
                work_item_id: { type: integer }
                repo: { type: string }
                scope: { type: string }
                status: { type: string }
                assigned_agent: { type: string }
      responses:
        '200':
          description: Created
          content:
            application/json:
              schema:
                type: object
                properties:
                  task: { $ref: '#/components/schemas/Task' }

  /workspaces/{workspace_id}/runs:
    get:
      summary: List runs in a workspace
      parameters:
        - name: workspace_id
          in: path
          required: true
          schema: { type: integer }
        - name: status
          in: query
          schema: { type: string }
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  runs:
                    type: array
                    items: { $ref: '#/components/schemas/Run' }
    post:
      summary: Create a run
      parameters:
        - name: workspace_id
          in: path
          required: true
          schema: { type: integer }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [task_id]
              properties:
                task_id: { type: integer }
                status: { type: string }
                summary: { type: string }
                artifacts: { type: object, additionalProperties: true }
      responses:
        '200':
          description: Created
          content:
            application/json:
              schema:
                type: object
                properties:
                  run: { $ref: '#/components/schemas/Run' }

  /billing/config:
    get:
      summary: Stripe.js bootstrap data (publishable key + price IDs)
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema: { $ref: '#/components/schemas/BillingConfig' }

  /workspaces/{workspace_id}/billing:
    get:
      summary: Current subscription for a workspace
      parameters:
        - name: workspace_id
          in: path
          required: true
          schema: { type: integer }
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  subscription: { $ref: '#/components/schemas/Subscription' }
        '404':
          description: Workspace not found or not a member

  /workspaces/{workspace_id}/billing/checkout:
    post:
      summary: Create a Stripe Checkout Session for upgrading the workspace
      parameters:
        - name: workspace_id
          in: path
          required: true
          schema: { type: integer }
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                plan: { type: string, enum: [pro], default: pro }
                interval: { type: string, enum: [monthly, yearly], default: monthly }
                success_url: { type: string, format: uri }
                cancel_url: { type: string, format: uri }
      responses:
        '200':
          description: Checkout session created
          content:
            application/json:
              schema: { $ref: '#/components/schemas/CheckoutSession' }
        '403': { description: Forbidden — only workspace owner can checkout }
        '404': { description: Workspace not found }
        '422': { description: Unknown plan or invalid input }
        '503': { description: Billing is not configured on this server }

  /workspaces/{workspace_id}/billing/portal:
    post:
      summary: Create a Stripe Billing Portal session for the workspace
      parameters:
        - name: workspace_id
          in: path
          required: true
          schema: { type: integer }
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                return_url: { type: string, format: uri }
      responses:
        '200':
          description: Portal session created
          content:
            application/json:
              schema: { $ref: '#/components/schemas/PortalSession' }
        '403': { description: Forbidden — only workspace owner can manage billing }
        '404': { description: Workspace not found }
        '422': { description: No Stripe customer linked yet (workspace never checked out) }
        '503': { description: Billing is not configured on this server }

  /workspaces/{workspace_id}/usage:
    get:
      summary: Token spend and remaining quota for the current calendar month
      parameters:
        - name: workspace_id
          in: path
          required: true
          schema: { type: integer }
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema: { $ref: '#/components/schemas/UsageReport' }
        '404':
          description: Workspace not found

  /workspaces/{workspace_id}/ai/messages:
    post:
      summary: Send a message to Anthropic Claude through the workspace proxy
      description: |
        Proxies the request to the Anthropic Messages API using a
        server-side API key. Tokens consumed are billed against the
        workspace's monthly quota (see `/usage`).
      parameters:
        - name: workspace_id
          in: path
          required: true
          schema: { type: integer }
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/AiMessageRequest' }
      responses:
        '200':
          description: Pass-through response from Anthropic
          content:
            application/json:
              schema: { $ref: '#/components/schemas/AiMessageResponse' }
        '402':
          description: Workspace has hit its monthly token quota
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }
        '404':
          description: Workspace not found
        '502':
          description: Upstream Anthropic error
        '503':
          description: AI proxy not configured on this server

  /webhooks/stripe:
    post:
      summary: Stripe billing webhook
      description: |
        Receives Stripe webhook events. Validates the `Stripe-Signature` header
        against `STRIPE_WEBHOOK_SECRET`. Currently handles
        `checkout.session.completed`, `customer.subscription.created/updated/deleted`,
        and `invoice.payment_failed`.
      security: []
      parameters:
        - name: Stripe-Signature
          in: header
          schema: { type: string }
      requestBody:
        required: true
        content:
          application/json:
            schema: { type: object }
      responses:
        '200':
          description: Processed
        '401':
          description: Signature mismatch

  /webhooks/github/{workspace_slug}:
    post:
      summary: GitHub Issues webhook
      description: |
        Receives GitHub webhook events. Validates `X-Hub-Signature-256`
        when `GITHUB_WEBHOOK_SECRET` is set in the workspace config.

        Currently handles `issues` events (opened, closed, reopened) and
        creates/updates a corresponding work item.
      security: []
      parameters:
        - name: workspace_slug
          in: path
          required: true
          schema: { type: string }
        - name: X-GitHub-Event
          in: header
          required: true
          schema: { type: string, example: issues }
        - name: X-Hub-Signature-256
          in: header
          schema: { type: string }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: Processed
        '401':
          description: Signature mismatch
        '404':
          description: Workspace not found
